Repository GingerKiwi/alice-game, pull requests merged in 2022-10, with the labels that each got.

#8 feat: hidden "skip to main" link
  index.html
  styles.css
Labels: enhancement, hacktoberfest-accepted

#14 Create about.html with boilerplate
  about.html
Labels: hacktoberfest, hacktoberfest-accepted

#17 add dark theme colour variables. set body colours
  styles.css
Labels: good first issue, hacktoberfest, css, hacktoberfest-accepted

#19 Add file name conventions to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, good first issue, hacktoberfest

#9 Added radio button
  index.html
Labels: good first issue, hacktoberfest, html, hacktoberfest-accepted

#25 added custom font
  index.html
  styles.css
Labels: css, hacktoberfest-accepted

#27 nav links in footer on about.html
  about.html
Labels: good first issue, hacktoberfest, html, hacktoberfest-accepted

#29 Update ALICE-REFERENCES.md
  ALICE-REFERENCES.md
Labels: hacktoberfest, hacktoberfest-accepted
